body {
    background: #34495e;
    background-image:url(http://s1.1zoom.me/big3/68/359929-admin.jpg);
    background-repeat:no-repeat;
    background-position:top center;
    color: white;
    padding: 50px;
}